.navbar {
    background-color: #ff3333; /* Red background color */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }
  
  .navbar h1 {
    color: white;
    margin: 0;
  }
  
  .nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .nav-links li {
    margin-left: 1.5rem;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .nav-links a:hover {
    text-decoration: none;
  }
  

  .auth-buttons {
    display: flex;
    gap: 10px;
  }
  
  .button {
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
  }
  
  .button-primary {
    background-color: #3498db; /* Light Blue */
    color: white;
    border: none;
  }
  
  .button-primary:hover {
    background-color: #2980b9; /* Darker Light Blue */
  }
  
  .button-secondary {
    background-color: white;
    color: #3498db; /* Light Blue */
    border: 2px solid #3498db; /* Light Blue */
  }
  
  .button-secondary:hover {
    background-color: #ecf0f1; /* Light Gray */
  }